<div class="container mt-5">
  <div class="row mt-1">
    <div class="col-xs-12">
      <div class="row mt-5" >
        <input type="text" placeholder="name" name="name" [(ngModel)]="name">
        <input type="text" placeholder="lien logo" name="src" [(ngModel)]="src">
        <button type="button" (click)="addLangage()">add</button>
      </div>
      <!--        on récupère via le service la liste des langages au format json et on créer un tableau-->
      <table class="table">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Logo</th>
          <th scope="col">up</th>
          <th scope="col">del</th>
        </tr>
        </thead>
        <tbody>
        <!--        pour chaque langage on créer un ligne   nom / logo / update / delete-->
        <tr *ngFor="let langage of langages">
          <td>{{ langage.id }}</td>
          <td>{{ langage.name }}</td>
          <td><img src="{{ langage.src }}"></td>
          <td><button type="button" class="btn-success">Update</button></td>
          <td><button type="button" class="btn-danger">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


