<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update user</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <input [(ngModel)]="id" id="input_id" name="id" [hidden]="true">
      <div class="form-group">
      <label for="input_username">Username</label>
      <input type="text" class="form-control" [(ngModel)]="username" id="input_username" name="username">
      </div>

      <div class="form-group">
      <label for="input_email">Email</label>
      <input type="text" class="form-control" [(ngModel)]="email" id="input_email" name="email">
      </div>

      <div class="form-group">
      <label for="input_password">Password</label>
      <input type="text" class="form-control" [(ngModel)]="password" id="input_password" name="password">
      </div>

      <div class="form-group">
      <label for="input_role">Role</label>
      <input type="text" class="form-control" [(ngModel)]="role" id="input_role" name="role">
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
  </div>
</ng-template>

<button class="btn btn-outline-success" (click)="open(content)">azertyui</button>

<hr>

<pre>{{closeResult}}</pre>
