<div class="row mt-5">
    <div id="stats" class="col-4">
    partie stats users
    </div>
  <div class="col-7">
      <div *ngFor="let lg of langages" class="lgexo">
        <div class="p-2"(click)="loadExo(lg.id)"><img src="{{lg.src}}"></div>
      </div>
  </div>
  <div class="col3 mt-5">
    <div *ngFor="let exo of exos">
      <a class="p-2" (click)="routeExo(exo.id)">{{exo.name}}</a>
    </div>
  </div>

  </div>


