<!--<div-->
<!--  class="codepen"-->
<!--  data-prefill='{-->
<!--    "title": "React Basics Demo",-->
<!--    "description": "Shows how to use React and React DOM to render a module with props onto the page",-->
<!--    "tags": ["react", "react-docs-demo"],-->
<!--    "html_classes": ["loading", "no-js"],-->
<!--    "head": "&lt;meta name=&#x27;viewport&#x27; content=&#x27;width=device-width, initial-scale=1&#x27;&gt;",-->
<!--    "stylesheets": "https://unpkg.com/normalize.css@8.0.1/normalize.css",-->
<!--    "scripts": ["https://cdnjs.cloudflare.com/ajax/libs/react/16.6.3/umd/react.production.min.js", "https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.6.3/umd/react-dom.production.min.js"]-->
<!--  }'-->
<!--  style="height: 400px; overflow: auto;"-->
<!--  data-height="400"-->
<!--  data-theme-id="31205"-->
<!--  data-default-tab="js,result"-->
<!--  data-editable="true"-->
<!--&gt;-->
<!--  <pre data-lang="html">-->
<!--&lt;div id="root"&gt;&lt;/div&gt;-->
<!--  </pre>-->
<!--  <pre data-lang="scss">-->
<!--$gray: #ccc;-->
<!--body {-->
<!--    background: $gray;-->
<!--    margin: 0;-->
<!--    padding: 1rem;-->
<!--}-->
<!--.module {-->
<!--    background: white;-->
<!--    padding: 1rem;-->
<!--    border-radius: 4px;-->
<!--    border: 1px solid #999;-->
<!--    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);-->
<!--    h1 {-->
<!--    margin: 0 0 1rem 0;-->
<!--  }-->
<!--}-->
<!--  </pre>-->
<!--  <pre data-lang="babel">-->
<!--class Welcome extends React.Component {-->
<!--    render() {-->
<!--    return &lt;div class="module"&gt;-->
<!--      &lt;h1&gt;-->
<!--        Hello, {this.props.name}-->
<!--      &lt;/h1&gt;-->
<!--      &lt;p&gt;It's a good day to build websites.&lt;/p&gt;-->
<!--    &lt;/div&gt;;-->
<!--  }-->
<!--}-->
<!--ReactDOM.render(-->
<!--  &lt;Welcome name="Chris"&gt;&lt;/Welcome&gt;,-->
<!--  document.getElementById('root')-->
<!--);-->
<!--  </pre>-->
<!--</div>-->
<!--<script async src="https://static.codepen.io/assets/embed/ei.js"></script>-->
