<div class="container mt-5">
  <div class="row mt-1">
    <div class="col-xs-12">
      <div class="row mt-5">
        <button type="button" class="btn btn-outline-success" (click)="addExo()">ADD</button>
      </div>
      <!--        on récupère via le service la liste des exos au format json et on créer un tableau-->
      <table class="table">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Ennoncé</th>
          <th scope="col">Langage</th>
          <th scope="col">up</th>
          <th scope="col">del</th>
        </tr>
        </thead>
        <tbody>
        <!--        pour chaque exo on créer une card   nom / ennoncé / update / delete-->
        <tr *ngFor="let exo of exos">
          <td>{{ exo.id }}</td>
          <td>{{ exo.name }}</td>
          <td>{{ exo.ennonce }}</td>
          <td>{{ exo.langage }}</td>
          <td><button type="button" class="btn-success">Update</button></td>
          <td><button type="button" class="btn-danger">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

