<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top mb-5">
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="admin/users">User</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="admin/langages">Langage</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="admin/exos">Exo</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="logout">Logout</a></li>
    </ul>
  </div>
</nav>
