<div class="container mt-5">
  <div class="row mt-1">
    <div class="col-xs-12">
<!--        on récupère via le service la liste des utillisateurs au format json et on créer un tableau-->
        <table class="table">
          <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">up</th>
            <th scope="col">del</th>
          </tr>
          </thead>
          <tbody>
<!--        pour chaque utilisateur on créer un ligne   nom / mail / update / delete-->
            <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
<!--              bouton d'appel de la modale + envoi de l'utilisateur pour préremplir inputs-->
              <td>
                <app-modal-update-user [user]="user"></app-modal-update-user></td>
              <td><button type="button" class="btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
