<div class="container mt-5">
  <h2>test exo add</h2>
  <div class="row">
    <div class="container col-6" >
      <input type="text" [(ngModel)]="name" placeholder="name exo">
      <textarea id="createEnnonce" [(ngModel)]="ennonce"></textarea>
      <div *ngFor="let langage of langages">
        <div name="langage"(click)="addlangage(langage)" [ngClass]="{'list-group-item list-group-item-success': langage.checked === true}">{{langage.name}}</div>
      </div>
      <button type="button" class="btn btn-outline-success" (click)="addValeurTest()">Ajouter les valeurs de test</button>
    </div>
    <div class="container col-6" >
      <div *ngFor="let lg of langagesChecked">
        <h6>{{lg.name}}</h6>
          <input [(ngModel)]="entrie" placeholder="entrie">
          <input [(ngModel)]="sortie" placeholder="sortie">
        <button [ngClass]="{disabled : !isValid}" (click)="isValid && saveEntrieAndSortie(lg.id)">ADD</button>
      </div>
    </div>
  </div>
  <button class=" btn btn-success mt-5" (click)="saveAll()" >Save exo</button>
</div>
